/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

body {
  background-color: rgb(191, 222, 231);
  font-family: sans-serif;
  color: blue;

}